{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}

{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.confirm_password) }}
 
    <button type="submit">S'inscrire!</button>
{{ form_end(form) }}


{% endblock %}
