{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<h1 class="text-center mb-4" style="font-family: 'Grand Hotel', cursive;">
		Vos Informations
	</h1>
	<form>
		<div class="form-group row">
			<label for="staticUser" class="col-sm-3 col-form-label">Nom d'utilisateur:</label>
			<div class="col-sm-5">
				<input type="text" readonly class="form-control-plaintext" id="staticEmail" value={{ app.user.username }}>
			</div>
		</div>

		<div class="form-group row">
			<label for="staticEmail" class="col-sm-3 col-form-label">Email:</label>
			<div class="col-sm-5">
				<input type="text" readonly class="form-control-plaintext" id="staticEmail" value={{ app.user.email }}>
			</div>
		</div>
	</form>
	<h1 class="text-center mb-4" style="font-family: 'Grand Hotel', cursive;">
		Vos recettes favorites
	</h1>
	{% for recipe in recipes %}
		<div class="card mb-3">
			<div class="row no-gutters">
				<div class="col-md-4">
					<img style="height: 100%; width: 100%; display: block;" src={{ asset ('/img/'~recipe.image)}} alt="Card image">
				</div>
				<div class="col-md-8">
					<div class="card-body text-center">
						<h5 class="card-title">
							<a href="{{ path('recipeView', { 'id': recipe.id } ) }}" class="card-link text-center">{{ recipe.title }}</a>
						</h5>
						<p>{{ recipe.information}}</p>
						<p>
							Recette ajoutée le:
							{{ recipe.date|date("m/d/Y") }}</p>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	{% if is_granted("ROLE_ADMIN") %}
		<h1 class="text-center mb-4" style="font-family: 'Grand Hotel', cursive;">
			Votre espace administrateur
		</h1>
		<a href="{{ path('admin_utilisateur') }}">
			<button class="btn btn-warning">liste des utilisateurs</button>
		</a>
	{% endif %}
	{% if is_granted("ROLE_ADMIN") %}
		<a href="{{ path('admin_addRecipe') }}">
			<button class="btn btn-warning">Ajouter une recette</button>
		</a>
	{% endif %}
	{% if is_granted("ROLE_ADMIN") %}
		<a href="{{ path('admin_recipeAdmin') }}">
			<button class="btn btn-warning">Editer une recette</button>
		</a>
	{% endif %}
{% endblock %}
